.resultpage {
    background-image: url('../images/result_bg.jpg');
    height: 100% !important;
    background-size: 100%;
    background-color: #ebebeb;
    @include screen('xs_mobile') {
        background-size: 200%;
    }
    h1 {
        display: inline-block;
        margin-left: 15px;
        a {
            display: block;
        }
        img {
            width: 312px;
        }
        @include screen('xs_mobile') {
            text-align: center;
            display: block;
            margin-left: 0;
        }
    }
    .contentblock {
        clear: both;
        float: none;
        text-align: center;
    }
    h2 {
        margin: -90px auto 40px;
        padding: 0;
        width: 410px;
        img {
            width: 410px;
            height: 170px;
        }
        @media(max-width: 480px) {
            width: auto;
            margin: -60px auto 20px;
            img {
                width: 90%;
                height: auto;
            }
        }
    }
    .fraction {
        display: inline-block;
        background-color: #fff;
        color: #000;
        font-size: 1.875em;
        padding: 35px 40px 35px;
        margin-bottom: 50px;
        border-radius: 100px;
        text-align: center;
        box-shadow: 3px 3px 5px hsla(0, 0%, 20%, .8);
        line-height: 1em;
        @include screen('xs_mobile') {
            width: 80%;
            margin: 0 auto 50px;
            border-radius: 20px;
            padding: 35px 20px 35px;
        }
        @media(max-width: 380px) {
            font-size: 1.75em;
            padding: 35px 10px 35px;
        }
        span {
            color: #de0022;
            font-size: 1.75em;
            display: inline-block;
            vertical-align: top;
            padding: 0;
            font-weight: 600;
            @include screen('xs_mobile') {
                display: block;
                margin-top: 30px;
            }
            em {
                font-style: normal;
                font-family: Helvetica;
                color: #de0022;
                padding: 0 0px 0 10px;
                font-weight: 700;
                margin-right: 8px;
                font-size: 1.313em;
                vertical-align: top;
            }
        }
    }
}
// 風險區塊
.risk_block {
    overflow: hidden;
    margin-bottom: 25px;
    padding: 0 20px;
    height: 290px;
    @include box-sizing(border-box);
    @include screen('tablet') {
        height: auto;
    }
    div {
        float: left;
        width: 30%;
        background-color: #fff;
        box-shadow: 3px 3px 5px hsla(0, 0%, 20%, .8);
        height: 280px;
        vertical-align: middle;
        margin: 0 1.6%;
        @include screen('tablet') {
            width: 45%;
            margin: 0 2.5% 30px;
        }
        @include screen('mobile') {
            width: 90%;
            margin: 0 auto 30px;
            float: none;
        }
        h3 {
            background-color: #e65633;
            color: #fff;
            margin: 0 0 20px;
            padding: 20px 15px;
            @include box-sizing(border-box);
            text-align: center;
            font-size: 2.187em;
        }
        ul {
            margin: 0;
            padding: 0px 20px;
            @include box-sizing(border-box);
            @media(max-width: 380px) {
                padding: 0px 10px;
            }
            li {
                float: left;
                list-style: none;
                padding: 13px 0;
                font-size: 1.75em;
                background-color: #faddd6;
                border-radius: 3px;
                width: 30%;
                margin: 0 1.6% 10px;
            }
        }
        &:nth-child(2) {
            h3 {
                background-color: #ec9900;
            }
            ul {
                li {
                    background-color: #fbebcc;
                }
            }
        }
        &:nth-child(3) {
            h3 {
                background-color: #35bda0;
            }
            ul {
                li {
                    background-color: #d7f2ec;
                }
            }
        }
    }
}
// 按鈕
.blackbtn {
    @include gradient(#909090, #070808, vertical);
    padding: 18px 60px;
    color: #fff;
    font-size: 1.75em;
    border: none;
    margin-bottom: 20px;
    br {
        display: none
    }
    @include screen('mobile') {
        display: block;
        width: 80%;
        margin: 0 auto 20px;
        padding: 18px 20px;
        br {
            display: block
        }
    }
    &:hover, &:focus {
        @include gradient(#070808, #070808, vertical);
        border: none !important;
        padding: 18px 60px;
        color: #fff;
    }
}
// 分享區塊
.share_blcok {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: 40px;
    span {
        font-size: 1.625em;
        display: block;
        margin-bottom: 20px;
    }
    ul {
        margin: 20px 0 0 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            margin: 0 3px;
        }
    }
}
.share_line{
    margin-bottom: 30px;
    text-align: center;
    .leftblock{
        display: inline-block;
        vertical-align: middle;
    }
    .rightblock{
        display: inline-block;
        vertical-align: middle;
    }
}
// 檢討
.general_review {
    background-color: rgba(255, 255, 255, .6);
    width: 90%;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;
    border-radius: 3px;
    .headerblock {
        background-color: #fff;
        padding: 20px 40px 10px;
        overflow: hidden;
        border-radius: 3px 3px 0 0;
        @include screen('mobile') {
            padding: 20px 20px 10px;
            ;
        }
        h3 {
            margin: 0;
            padding: 0;
            float: left;
            font-size: 1.875em;
            @include screen('xs_mobile') {
                float: none;
                margin: 0 0 15px;
            }
        }
        .list_item {
            float: right;
            text-align: right;
            font-size: 1.25em;
            @include screen('xs_mobile') {
                float: none;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    display: inline-block;
                    margin-left: 30px;
                    @media(max-width: 480px) {
                        margin-left: 5px;
                    }
                    img {
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    em {
                        font-style: normal;
                        padding: 0 3px;
                        &.wordgreen {
                            color: #35bda0;
                        }
                        &.wordred {
                            color: #e65633;
                        }
                    }
                }
            }
        }
    }
    .contentblock {
        padding: 0 35px 35px;
        @include screen('mobile') {
            padding: 0 20px 35px;
        }
        .chapter_block {
            padding: 20px 0;
            border-bottom: 1px solid #c9c9c9;
            overflow: hidden;
        }
        .leftblock {
            @include make-xs-column(12); //576px  width:100%
            @include make-sm-column(2); //768px  width:100%
            @include make-md-column(2); //992px  width:100%
            @include make-lg-column(2); //1400px width:100%
            @include gutter(0);
        }
        .rightblock {
            @include make-xs-column(12); //576px  width:100%
            @include make-sm-column(10); //768px  width:50%
            @include make-md-column(10); //992px  width:33.3%
            @include make-lg-column(10); //1400px width:33.3%
            @include gutter(0);
        }
        h4 {
            margin: 0 0 10px;
            background-color: #e65633;
            text-align: center;
            color: #fff;
            padding: 10px 15px;
            font-size: 1.5em;
            border-radius: 50px;
            width: 130px;
            @include screen('tablet') {
                width: 110px;
            }
            &.orangebg {
                background-color: #ec9900;
            }
            &.greenbg {
                background-color: #35bda0;
            }
        }
        .rightblock {
            text-align: left;
            .topic_block {
                .topic {
                    font-size: 1.25em;
                    position: relative;
                    img {
                        vertical-align: middle;
                        margin-right: 14px;
                        margin-left: -46px;
                    }
                    a {
                        display: block;
                        padding: 10px 50px 10px 55px;
                        color: #000;
                        position: relative;
                        transition: .5s;
                        &:hover {
                            background-color: rgba(255, 255, 255, .5);
                            border-radius: 3px;
                        }
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        border: 2px solid #707070;
                        width: 8px;
                        height: 8px;
                        border-top: none;
                        border-left: none;
                        right: 20px;
                        top: 18px;
                        transform: rotate(45deg);
                        transition: .5s;
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        background-color: #dcdcdc;
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        right: 5px;
                        top: 5px;
                    }
                    &.open {
                        &:after {
                            transform: rotate(-135deg);
                            top: 22px;
                        }
                    }
                }
                // 內容
                .skill {
                    background-color: rgba(211, 211, 211, .7);
                    padding: 15px;
                    line-height: 1.6em;
                    margin-left: 50px;
                    margin-bottom: 10px;
                    position: relative;
                    border-radius: 3px;
                    display: none;
                    overflow: hidden;
                    font-size: 1.125em;
                    text-align: left;
                    em {
                        background-color: #000;
                        color: #fff;
                        padding: 8px;
                        display: block;
                        margin-bottom: 8px;
                        width: 110px;
                        font-style: normal;
                        @media(max-width: 600px){
                            width: 100%;
                        }
                    }
                    span {
                       
                    }
                    &.haspic {
                        span {
                            float: left;
                            width: 75%;
                            @include screen('tablet'){
                                 width: 65%;
                            }
                            @media(max-width: 600px){
                                width: 100%;
                                float: none;
                            }
                           
                        }
                    }
                    .image {
                        float: right;
                        width: 145px;
                        height: 100px;
                        overflow: hidden;
                       @media(max-width: 600px) {
                            position: relative;
                            margin: 10px 0 0;
                            top: auto;
                            right: auto;
                            float: none;
                        }
                        a {
                            position: relative;
                            display: block;
                            vertical-align: top;
                            width: 145px;
                            height: 100px;
                            img {
                                width: 100%;
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                max-width: 100%;
                                height: 100%;
                                margin: auto;
                            }
                            &:before {
                                content: "瀏覽更多照片";
                                position: absolute;
                                width: 100%;
                                height: 30px;
                                padding: 1px 8px;
                                background-color: #000;
                                color: #fff;
                                bottom: 0px;
                                font-size: .813em;
                                z-index: 9;
                                background-image: url('../images/icon_pic.png');
                                background-repeat: no-repeat;
                                background-position: 120px 8px;
                                border-radius: 0 !important;
                                right: auto;
                                top: auto;
                                @include box-sizing;
                            }
                        }
                    }
                }
            }
        }
    }
}
// 各篇說明
.chapter_explain {
    background-color: rgba(255, 255, 255, .7);
    padding: 20px 40px;
    border-radius: 3px;
    overflow: hidden;
    text-align: left;
    width: 90%;
    margin: 0 auto 40px;
    @media(max-width: 480px) {
        padding: 20px;
    }
    .chapter_title {
        margin: 0 0 10px;
        background-color: #e65633;
        text-align: center;
        color: #fff;
        padding: 10px 15px;
        font-size: 1.5em;
        border-radius: 50px;
        width: 130px;
        @include screen('tablet') {
            width: 110px;
        }
        &.orangebg {
            background-color: #ec9900;
        }
        &.greenbg {
            background-color: #35bda0;
        }
    }
    .topic {
        @include make-xs-column(12); //576px  width:100%
        @include make-sm-column(3); //768px  width:100%
        @include make-md-column(3); //992px  width:100%
        @include make-lg-column(3); //1400px width:100%
        @include gutter(0);
        font-size: 1.875em;
        font-weight: 600;
        line-height: 1.4em;
        padding-top: 7px;
        padding-right: 40px;
        @media(max-width: 480px) {
            padding-right: 0px;
        }
    }
    .skill {
        @include make-xs-column(12); //576px  width:100%
        @include make-sm-column(9); //768px  width:100%
        @include make-md-column(9); //992px  width:100%
        @include make-lg-column(9); //1400px width:100%
        padding: 10px;
        line-height: 1.6em;
        margin: 0;
        position: relative;
        border-radius: 3px;
        overflow: hidden;
        font-size: 1.125em;
        span {
            background-color: #000;
            color: #fff;
            padding: 8px;
            display: block;
            margin-bottom: 8px;
            width: 110px;
        }
    }
}